#animation {
    margin: 0 auto;
    width: 50%;
    max-width: 1600px;
    min-width: 300px;
    border: solid 1px red;
    .animatio {
        width: 100%;
        height: auto;
       .biggest-cog {
          
       }
    }
}
