#machina-wrapper {
    margin: 0 auto;
    width: 50%;
    max-width: 1600px;
    min-width: 300px;
    #machina {
        width: 100%;
        height: auto;
    }
}
span {
    display: block;
    text-align: center;
    color: #0066FF;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 2px;
}