@import './metadata-container';

.post-content--wrapper {
    
    .post_data--positioner {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 20px 0 0 0;
        border-top: 1px solid $lightgray;
        color: $textgray;
        img {
            max-width: 100%;
            height: auto;
            margin: 10px 0;
        }
    }
}

