//general
@import './scss/vars.scss';
@import './scss/typo.scss';

//sections
@import './scss/sections/background.scss';
@import './scss/sections/navbar.scss';
@import './scss/sections/search-panel.scss';
@import './scss/sections/header.scss';
@import './scss/sections/portfolio.scss';
@import './scss/sections/tools.scss';
@import './scss/sections/searchfor.scss';
@import './scss/sections/questions.scss';
@import './scss/sections/contact.scss';
@import './scss/sections/aboutme.scss';
@import './scss/sections/footer.scss';

//components
@import './scss/components/train.scss';
@import './scss/components/personal-panel.scss';
@import './scss/components/svg-animation.scss';
@import './scss/components/slider100vw/project-slider.scss';
@import './scss/components/slider100vw/project-tilt.scss';
@import './scss/components/slider25vw/tools-slider.scss';
@import './scss/components/slider25vw/tools-tilt.scss';
@import './scss/components/section-border.scss';

//pages
@import './scss/pages/subpage.scss';
@import './scss/pages/contact/contact-page.scss';
@import './scss/pages/recomends/recomends-page.scss';
@import './scss/pages/animations/animations-page.scss';

@import './scss/pages/aboutme/aboutme-page.scss';
@import './scss/pages/offeredtools/offeredtools-page.scss';
@import './scss/pages/projects/projects-page.scss';
@import './scss/pages/searchfor/searchfor-page.scss';
@import './scss/pages/quickinterview/quickinterview-page.scss';

* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    margin: 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
