#aboutme08{
    margin-bottom: 50px;
    @include navi-margin;
    width: 100%;
    .aboutme08-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        width: 100%;
        @media screen and (min-width: 900px){
            justify-content: flex-start;
        }
    }

    .aboutme08_excerpt {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
        @media screen and (min-width: 600px){
            margin-bottom: 30px;
        }
    }
}

#aboutme08{
    .aboutme08-list--container{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .aboutme08-list--item{
            list-style: none;
            padding: 0;
            margin: 0 0 25px 0;
            display: block;
            width: 100%;
            max-width: 1000px;
        }
    }
}

#aboutme08 {
    .aboutme08-list--item:nth-of-type(even) {
        .aboutme08-list_article_head,
        .aboutme08-list_article_hline--container,
        .aboutme08-list_article_body{
            align-self: flex-start;
        }
    }

    .aboutme08-list--item:nth-of-type(odd) {
        .aboutme08-list_article_head,
        .aboutme08-list_article_hline--container,
        .aboutme08-list_article_body {
            align-self: flex-end;
        }
    }
}

#aboutme08{
    .aboutme08-list_article {
        width: 100%;
        display: flex;
        flex-direction: column;

        //header
        .aboutme08-list_article_head {
            width: 100%;
            max-width: 500px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 0;
            margin-right: 0;
            
            .aboutme08-list_article_head_title{
                display: none;
            }
            .aboutme08-list_article_head_icon {
                width: 50px;
                height: 50px;
                align-self: flex-start;
                cursor: pointer;
                user-select: none;
            }
            .aboutme08-list_article_head_title-anim{
                cursor: pointer;
                width: calc(100% - 50px);
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                padding: 0 0 0 1%;
                .single-letter {
                    color: $lightblue;
                    font-size: 16px;
                    @include sans;
                }
            }
        }

        //body
        .aboutme08-list_article_body {
            width: 100%;
            max-width: 500px;
            display: none;
            .aboutme08-list_article_body--item {
                display: block;
                padding: 5px 5px 5px 50px;
                margin: 0;
                width: 100%;
            }
        }

        //line
        .aboutme08-list_article_hline--container{
            margin-top: 5px;
            margin-left: 50px;
            height: 5px;
            width: calc(100% - 50px);
            max-width: 450px;
            display: flex;
            justify-content: flex-start;
            background: $lightgray;
            align-items: center;
            .aboutme08-list_article_hline--item {
                background: $blue;
                width: 0;
                height: 80%;
            }
        }
    }
}

