#contact07{
    @include navi-margin;
    .contact07-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        width: 100%;
    }
}

#contact07 {
    #contact07_contact--wrapper{
        .contact07_contact--header {
            display: none;
        }
        .contact07_contact--container {
            width: 100%;
            background: $light;
            min-height: 200px;
        }

        .contact07_contact--switcher {
            display: none;
        }



        &.isFixed {
            @media screen and (min-width: 600px){
                position: fixed;
                bottom: 1%;
                right: 1%;
                animation: 500ms forwards show-formula;
                @keyframes show-formula {
                    from {
                        transform: scale(0);
                    }
                    to {
                        transform: scale(1);
                    }
                }

            
                .contact07_contact--positioner{
                    display: none;
                    width: 300px;
                    
                    @include project-shadow;
                    border-radius: 3px;
                    overflow: hidden;

                    .contact07_contact--header {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: $lightblue;
                        color: $light;
            
                        .contact07_contact--title{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            padding: 5px;
                            color: $light;
                        }
                        .contact07_contact--closer {
                            padding: 2px;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                            align-items: center;
                            text-transform: uppercase;
                            @include sans;
                            font-weight: 300;
                            font-size: 10px;
                            cursor: pointer;
                            i {
                                margin-left: 5px;
                                font-size: 15px;
                            }
                        }
                    }
                }
                .contact07_contact--switcher {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    background: $blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include project-shadow;
                }
            }
        }
    }
}
