#projekty03 {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.9);
    
    
    h2 {
        @include navi-margin;
        width: 100%;
        margin: 0;
        text-align: center;
        @media screen and (min-width: 900px){
            text-align: left;
        }
    }
}