#projekty03 {
    padding-top: 50px;
    padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.9);
    
    h2 {
        @include navi-margin;
        width: 100%;
        margin: 0;
        text-align: center;
        color: $blue;
        @media screen and (min-width: 900px){
            text-align: left;

        }
    }

    transition: transform 200ms;
    transform: scale(0.5);
    &.on-scroll {
        transform: scale(1);
    }
}