.section-border--wrapper {
    display: none;
    @media screen and (min-width: 900px){
        display: flex;
    }
    position: relative;
    width: 100%;
    height: 60px;
    overflow: hidden;
    flex-wrap: nowrap;
    z-index: 120;
    .section-border_track {
        width: 100%;
        height: 6px;
        position: absolute;
        top: 27px;
        left: 0;
        background-position: left center;
        background-repeat: repeat-x;
        overflow: hidden;
        z-index: -1;
    }
    .section-border_switcher {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 30%;
            height: 30%;
            cursor: pointer;
        }
    }
    .section-border_animation-area {
        width: calc(100% - 60px);
        height: 100%;
        position: relative;
        display: flex;
        .section-border_animated-item {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 0;

        }
    }
}

//first
#section-border-projekty_item-01{
    position: relative;
    width: 50%;
    img {
        position: absolute;
        right: 50%;
        top: 15px;
        width: 30px;
        height: 30px;
    }
}

#section-border-projekty_item-02{
    position: relative;
    width: 50%;
    img {
        position: absolute;
        left: 50%;
        top: 15px;
        width: 30px;
        height: 30px;
    }
}

//second
#section-border-tools_item-01 {
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 30%;
        height: 30%;
        cursor: pointer;
    }
}

//third
#section-border-searchfor {
    .section-border_animation-area {
        width: 100%;
    }
}
#section-border-searchfor_item-01 {
    left: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 30%;
        height: 30%;
        cursor: pointer;
    }
}

//fourth
#section-border-questions {
    width: 110vw;
    position: absolute;
    top: 0;
    left: -5vw;
    
    .section-border_animation-area {
        width: 100%;
    }
}
#section-border-questions_item-01 {
    left: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 30%;
        height: 30%;
        cursor: pointer;
    }
}

//fifth
#section-border-contact {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    .section-border_animation-area {
        width: 100%;
    }
}
#section-border-contact_item-01,
#section-border-contact_item-02, 
#section-border-contact_item-03 {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 50%;
        height: 50%;
        cursor: pointer;
    }
}

#section-border-contact_item-01{
    left: 50px;
}
#section-border-contact_item-02{
    right: 50px;
}
#section-border-contact_item-03{
   left: 250px;
}