//wrapper fixed bg:
.animation-panel {
    //styles in header section
}


//regualar machina:

#machina-wrapper {
    width: 100%;//47.25vw;
    //height: 25vw;
    #machina {
        width: 100%;
        height: auto;
    }
}
