#train00 {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 40px;
    z-index: 100;
    overflow: hidden;
    @media screen and (max-width: 760px) {
        display: none;
    }
}

#train00_track {
    position: absolute;
    height: 100vh;
    top: 0;
    width: 4px;
    left: 18px;
    background-repeat: repeat-y;
    //background-size: cover;
    background-position: 0 0;
    z-index: 101;

    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count:infinite;

    overflow: hidden;

    &.godown{
        animation-name: scrolling-bg;
        animation-direction: normal;
    }
    &.goup{
        animation-name: scrolling-bg;
        animation-direction: reverse;
    }
    @keyframes scrolling-bg {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 -100vh;
        }
    }

    @media screen and (max-width: 400px){
        opacity: 0;
    }
}

#train00_car {
    position: absolute;
    top: 55px;
    left: 0;
    width: 40px;
    height: 100px;
    z-index: 102;
    cursor: pointer;
    user-select: none;
}

