#train00 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    z-index: 100;
    overflow: hidden;
    @media screen and (max-width: 760px) {
        display: none;
    }
}

#train00_track {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 4px;
    left: 18px;
    background-repeat: repeat-y;
    
    background-position: 0 0;
    z-index: 101;

    @keyframes scrolling-bg {
        from {
            background-position: 0 0;
        }
        to {
            background-position: 0 -100vh;
        }
    }

    @media screen and (max-width: 400px){
        opacity: 0;
    }
}

#train00_car {
    position: fixed;
    will-change: transform;
    top: 85px;
    left: 0;
    width: 40px;
    height: 100px;
    z-index: 102;
    cursor: pointer;
    user-select: none;
}

